name: Static analysis
on: 
    pull_request:
        paths: ['.github/workflows/*.yml', '.github/workflows/*.yaml']
defaults:
    run:
        shell: bash
concurrency:
    group: ${{  github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
jobs:
    sleep:
        runs-on: ubuntu-latest
        steps:
            - run: sleep 120 